<div class="blogPage">
    <div class="user">
        <img src="{{ user?.avatar }}" />
        <div>
            <p>{{ user?.userName }}</p>
            <p>{{ user?.description }}</p>
        </div>
    </div>
    <div class="line">
        <p>How I try to stay a float while being a frontend developer</p>
    </div>

    <div class="posts">
        <div class="post newPost" (click)="onCreate()">
            Create new post
        </div>
        <div class="post" *ngFor="let post of posts">
            <div class="top">
                <p class="title">{{ post.title }}</p>
                <div class="actions">
                    <p class="edit" (click)="onEdit(post)">Edit</p>
                    <p class="delete" (click)="onDelete(post)">Delete</p>
                </div>
            </div>
            <p class="description">{{ post.description }}</p>
            <div class="bottom">
                <p>{{ formatDate(post.createdAt) }}</p>
                <p class="likes" *ngIf="post.likes > 0">
                    <svg id="color" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m11.466 22.776c.141.144.333.224.534.224s.393-.08.534-.224l9.594-9.721c4.001-4.053 1.158-11.055-4.532-11.055-3.417 0-4.985 2.511-5.596 2.98-.614-.471-2.172-2.98-5.596-2.98-5.672 0-8.55 6.984-4.531 11.055z" fill="#f44336"/></svg>
                    {{ post.likes }}
                </p>
            </div>
        </div>
    </div>

    <!-- <SaveModal 
        isModalOpened={isModalOpened} 
        closeModal={() => setModalOpened(false)} 
        onSave={onSave} 
        editedPost={editedPost}
    />
    <ToastContainer /> -->
</div>